<a href="https://colab.research.google.com/github/Void-Brain70/AI/blob/main/A__Search_Map.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
pd.set_option('mode.chained_assignment', None)
df = pd.read_csv('/content/Input.csv')
df

    0  1   2  3
0   A  B   5  3
1   B  C  10  5
2   B  D  15  2
3   C  E  15  3
4   D  F  20  5
5   E  G  15  4
6   F  G  20  4
7   G  I   5  6
8   G  J  10  3
9   I  K   5  0
10  I  K  10  0

In [ ]:
id = 70
A = id%4+2
B = id%5+3
C = id%6+1
D = id%5+2
E = id%4+1
F = id%4+3
G = id%5+4
I = id%6+2
J = id%5+3


A,B,C,D,E,F,G,I,J

(4, 3, 5, 2, 3, 5, 4, 6, 3)

In [ ]:
header = input('Give Start Node->').upper()
goal = input('Give Goal Node->').upper()

Give Start Node->A
Give Goal Node->K

In [ ]:
print("The node are->")
header,goal

The node are->

('A', 'K')

In [ ]:
df.columns = ['Parent', 'Child', 'g(n)', 'h(n)']
df['g(n)'] = df['g(n)'].astype('int32') 
df['h(n)'] = df['h(n)'].astype('int32') 
df

   Parent Child  g(n)  h(n)
0       A     B     5     3
1       B     C    10     5
2       B     D    15     2
3       C     E    15     3
4       D     F    20     5
5       E     G    15     4
6       F     G    20     4
7       G     I     5     6
8       G     J    10     3
9       I     K     5     0
10      I     K    10     0

In [ ]:
ls = []
for i in  df.values:
    
    if i[3] =='A':
        i[3]=A
    elif i[1]=='B':
        i[3]=B
    elif i[1]=='C':
        i[3]=C 
    elif i[1]=='D':
        i[3]=D
    elif i[1]=='E':
        i[3]=E
    elif i[1]=='F':
        i[3]=F
    elif i[1]=='G':
        i[3]=G
    elif i[1]=='I':
        i[3]=I
    elif i[1]=='J':
        i[3]=J
    ls.append(i)

In [ ]:
path = [header]
sdf = pd.DataFrame(ls,columns=['Parent', 'Child', 'g(n)', 'h(n)'])
sdf

   Parent Child  g(n)  h(n)
0       A     B     5     3
1       B     C    10     5
2       B     D    15     2
3       C     E    15     3
4       D     F    20     5
5       E     G    15     4
6       F     G    20     4
7       G     I     5     6
8       G     J    10     3
9       I     K     5     0
10      I     K    10     0

In [ ]:
path_cost = 0
while True:
    if header==goal:
      break
    sd = sdf[sdf.Parent==header]
    sd['cost']=sd[['g(n)','h(n)']].sum(axis=1)
    
    sd=sd.sort_values(by='cost',ascending=True).reset_index(drop=True)
    print(sd)
    header = sd.loc[0].Child
    path_cost+=sd.loc[0]['g(n)']
    path.append(header)

  Parent Child  g(n)  h(n)  cost
0      A     B     5     3     8
  Parent Child  g(n)  h(n)  cost
0      B     C    10     5    15
1      B     D    15     2    17
  Parent Child  g(n)  h(n)  cost
0      C     E    15     3    18
  Parent Child  g(n)  h(n)  cost
0      E     G    15     4    19
  Parent Child  g(n)  h(n)  cost
0      G     I     5     6    11
1      G     J    10     3    13
  Parent Child  g(n)  h(n)  cost
0      I     K     5     0     5
1      I     K    10     0    10

In [ ]:
print('Shortes path are->',path)

Shortes path are-> ['A', 'B', 'C', 'E', 'G', 'I', 'K']

In [ ]:
print('Total path cost->',path_cost+list(sdf[sdf['Child']==goal]['h(n)'])[0])

Total path cost-> 55