<a href="https://colab.research.google.com/github/Void-Brain70/AI/blob/main/A__Search_Map_18101070.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# import pandas libaries
import pandas as pd
pd.set_option('mode.chained_assignment', None) #Sets the value of the specified option.
df = pd.read_csv('/content/MapData.csv') # for read csv file
df # show dataframe

    0  1   2  3
0   A  B   5  3
1   B  C  10  5
2   B  D  15  2
3   C  E  15  3
4   D  F  20  5
5   E  G  15  4
6   F  G  20  4
7   G  I   5  6
8   G  J  10  3
9   I  K   5  0
10  I  K  10  0

In [11]:
# Calculated heuristic value accrodding to my id
id = 70
A = id%4+2  # Narayanganj
B = id%5+3  # Chasara
C = id%6+1  # Signbord
D = id%5+2  # Ponchoboti
E = id%4+1  # Jatrabari
F = id%4+3  # Gandaria
G = id%5+4  # Gulistan
I = id%6+2  # Shahbag
J = id%5+3  # Newmarket

# we know goal state heuristic value are 0 so h(K)UAP = 0 


A,B,C,D,E,F,G,I,J

(4, 3, 5, 2, 3, 5, 4, 6, 3)

In [3]:
# get input from user start node and goal node 
# in this case start node A(Narayanganj) and goal node K(UAP)
header = input('Give Start Node->').upper()
goal = input('Give Goal Node->').upper()

Give Start Node->A
Give Goal Node->K

In [4]:
# In this part show the start and goal node
print("The node are->")
header,goal

The node are->

('A', 'K')

In [5]:
# In this part change dataframe  columns name [0,1,2,3] to ['Parent','Child','g(n)','h(n)']
df.columns = ['Parent', 'Child', 'g(n)', 'h(n)']
# Cast a pandas object to a specified dtype
df['g(n)'] = df['g(n)'].astype('int32')  # Cast all columns to int32
df['h(n)'] = df['h(n)'].astype('int32') 
df

   Parent Child  g(n)  h(n)
0       A     B     5     3
1       B     C    10     5
2       B     D    15     2
3       C     E    15     3
4       D     F    20     5
5       E     G    15     4
6       F     G    20     4
7       G     I     5     6
8       G     J    10     3
9       I     K     5     0
10      I     K    10     0

In [6]:
ls = []
for i in  df.values: #Return a Numpy representation of the DataFrame.
    # index 0 1 2 3 
    if i[3] =='A': 
        i[3]=A
    elif i[1]=='B':
        i[3]=B
    elif i[1]=='C':
        i[3]=C 
    elif i[1]=='D':
        i[3]=D
    elif i[1]=='E':
        i[3]=E
    elif i[1]=='F':
        i[3]=F
    elif i[1]=='G':
        i[3]=G
    elif i[1]=='I':
        i[3]=I
    elif i[1]=='J':
        i[3]=J
    ls.append(i)

In [7]:
path = [header]
# store dataframe with ('ls' value) in sdf for next part 
sdf = pd.DataFrame(ls,columns=['Parent', 'Child', 'g(n)', 'h(n)'])
sdf

   Parent Child  g(n)  h(n)
0       A     B     5     3
1       B     C    10     5
2       B     D    15     2
3       C     E    15     3
4       D     F    20     5
5       E     G    15     4
6       F     G    20     4
7       G     I     5     6
8       G     J    10     3
9       I     K     5     0
10      I     K    10     0

In [8]:
path_cost = 0 # initially path cost 0
# add a dictionary for realistc 
dic = {
        'A' : 'Narayanganj',
        'B' : 'Chasara',
        'C' : 'Signboard',
        'D' : 'Ponchobti	',
        'E' : 'Jatrabari',
        'F' : 'Gandaria',
        'G' : 'Gulistan',
        'I' : 'Shahbag',
        'J' : 'Newmarket',
        'K' : 'UAP',
}
while True:
    if header==goal:
      break
    sd = sdf[sdf.Parent==header]
    sd['cost']=sd[['g(n)','h(n)']].sum(axis=1)
    
    # sort_values(_) Sort by the values along either axis.
    # reset_index(_) Reset the index of the DataFrame, and use the default one instead. If the DataFrame has a MultiIndex, this method can remove one or more levels.
    sd=sd.sort_values(by='cost',ascending=True).reset_index(drop=True)
    print(sd)
    #.loc[] is primarily label based, but may also be used with a boolean array.
    header = sd.loc[0].Child
    path_cost+=sd.loc[0]['g(n)']
    path.append(header)

  Parent Child  g(n)  h(n)  cost
0      A     B     5     3     8
  Parent Child  g(n)  h(n)  cost
0      B     C    10     5    15
1      B     D    15     2    17
  Parent Child  g(n)  h(n)  cost
0      C     E    15     3    18
  Parent Child  g(n)  h(n)  cost
0      E     G    15     4    19
  Parent Child  g(n)  h(n)  cost
0      G     I     5     6    11
1      G     J    10     3    13
  Parent Child  g(n)  h(n)  cost
0      I     K     5     0     5
1      I     K    10     0    10

In [9]:
# Print the shortest path using a loop 
print('Shortes path are->') 
for i in range(len(path)-1):
        print(dic[path[i]], end=' -> ')       
print(dic[path[len(path) - 1]])

Shortes path are->
Narayanganj -> Chasara -> Signboard -> Jatrabari -> Gulistan -> Shahbag -> UAP

In [10]:
# Print the path cost
print('Total path cost->',path_cost+list(sdf[sdf['Child']==goal]['h(n)'])[0])

Total path cost-> 55