<a href="https://colab.research.google.com/github/Void-Brain70/AI/blob/main/A__Search.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
pd.set_option('mode.chained_assignment', None)
df = pd.read_csv('/content/Demo.csv')
df

    0  1  2  3
0   A  B  6  8
1   A  F  3  6
2   B  C  3  5
3   B  D  2  7
4   C  D  1  7
5   D  C  1  5
6   C  E  5  3
7   D  E  8  3
8   F  G  1  5
9   F  H  7  3
10  G  I  3  1
11  H  I  2  1
12  E  I  5  1
13  E  J  5  0
14  I  E  5  3
15  I  J  3  1

In [2]:
id = 17201012
A = id%3+2
B = id%5+1
C = id%4+3
D = id%7+2
E = id%6+4
F = id%2+2

A,B,C,D,E,F

(4, 3, 3, 5, 6, 2)

In [4]:
header = input('Give Start State').upper()
goal = input('Give Goal State').upper()

Give Start StateA
Give Goal StateJ

In [5]:
header,goal

('A', 'J')

In [6]:
df.columns = ['Parent', 'Child', 'g(n)', 'h(n)']
df['g(n)'] = df['g(n)'].astype('int32') 
df['h(n)'] = df['h(n)'].astype('int32') 
df

   Parent Child  g(n)  h(n)
0       A     B     6     8
1       A     F     3     6
2       B     C     3     5
3       B     D     2     7
4       C     D     1     7
5       D     C     1     5
6       C     E     5     3
7       D     E     8     3
8       F     G     1     5
9       F     H     7     3
10      G     I     3     1
11      H     I     2     1
12      E     I     5     1
13      E     J     5     0
14      I     E     5     3
15      I     J     3     1

In [7]:

ls = []
for i in  df.values:
    
    if i[3] =='A':
        i[3]=A
    elif i[1]=='B':
        i[3]=B
    elif i[1]=='C':
        i[3]=C
    elif i[1]=='D':
        i[3]=D
    elif i[1]=='E':
        i[3]=E
    elif i[1]=='F':
        i[3]=F
    ls.append(i)

In [8]:
path = [header]
sdf = pd.DataFrame(ls,columns=['Parent', 'Child', 'g(n)', 'h(n)'])
sdf

   Parent Child  g(n)  h(n)
0       A     B     6     3
1       A     F     3     2
2       B     C     3     3
3       B     D     2     5
4       C     D     1     5
5       D     C     1     3
6       C     E     5     6
7       D     E     8     6
8       F     G     1     5
9       F     H     7     3
10      G     I     3     1
11      H     I     2     1
12      E     I     5     1
13      E     J     5     0
14      I     E     5     6
15      I     J     3     1

In [9]:

path_cost = 0
while True:
    if header==goal:
        break
    sd = sdf[sdf.Parent==header]
    sd['cost']=sd[['g(n)','h(n)']].sum(axis=1)
    
    sd=sd.sort_values(by='cost',ascending=True).reset_index(drop=True)
    print(sd)
    header = sd.loc[0].Child
    path_cost+=sd.loc[0]['g(n)']#.value
    path.append(header)

  Parent Child  g(n)  h(n)  cost
0      A     F     3     2     5
1      A     B     6     3     9
  Parent Child  g(n)  h(n)  cost
0      F     G     1     5     6
1      F     H     7     3    10
  Parent Child  g(n)  h(n)  cost
0      G     I     3     1     4
  Parent Child  g(n)  h(n)  cost
0      I     J     3     1     4
1      I     E     5     6    11