<a href="https://colab.research.google.com/github/Void-Brain70/AI/blob/main/A_Map.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
pd.set_option('mode.chained_assignment', None)
df = pd.read_excel('/content/Dataset.xlsx')
df

              0          1   2  3
0   Narayanganj    Chasara   5  3
1       Chasara  Signboard  10  5
2       Chasara  Ponchobti  15  2
3     Signboard  Jatrabari  15  3
4     Ponchobti   Gandaria  20  5
5     Jatrabari   Gulistan  15  4
6      Gandaria   Gulistan  20  4
7      Gulistan    Shahbag   5  6
8      Gulistan  Newmarket  10  3
9       Shahbag        UAP   5  0
10    Newmarket        UAP  10  0

In [7]:
id = 70
Narayanganj = id%4+2
Chasara = id%5+3
Signboard = id%6+1
Ponchobti = id%5+2
Jatrabari = id%4+1
Gandaria = id%4+3
Gulistan= id%5+4
Shahbag	 = id%6+2
Newmarket	 = id%5+3


Narayanganj,Chasara,Signboard,Ponchobti,Jatrabari,Gandaria,Gulistan,Shahbag,Newmarket

(4, 3, 5, 2, 3, 5, 4, 6, 3)

In [8]:
header = input('Give Start Node->').upper()
goal = input('Give Goal Node->').upper()

Give Start Node->Narayanganj
Give Goal Node->UAP

In [9]:
print("The node are->")
header,goal

The node are->

('NARAYANGANJ', 'UAP')

In [10]:
df.columns = ['Parent', 'Child', 'g(n)', 'h(n)']
df['g(n)'] = df['g(n)'].astype('int32') 
df['h(n)'] = df['h(n)'].astype('int32') 
df

         Parent      Child  g(n)  h(n)
0   Narayanganj    Chasara     5     3
1       Chasara  Signboard    10     5
2       Chasara  Ponchobti    15     2
3     Signboard  Jatrabari    15     3
4     Ponchobti   Gandaria    20     5
5     Jatrabari   Gulistan    15     4
6      Gandaria   Gulistan    20     4
7      Gulistan    Shahbag     5     6
8      Gulistan  Newmarket    10     3
9       Shahbag        UAP     5     0
10    Newmarket        UAP    10     0

In [11]:
ls = []
for i in  df.values:
    
    if i[3] =='Narayanganj':
        i[3]=Narayanganj
    elif i[1]=='Chasara':
        i[3]=Chasara
    elif i[1]=='Signboard':
        i[3]=Signboard 
    elif i[1]=='Ponchobti':
        i[3]=Ponchobti
    elif i[1]=='Jatrabari':
        i[3]=Jatrabari	
    elif i[1]=='Gandaria':
        i[3]=Gandaria	
    elif i[1]=='Gulistan':
        i[3]=Gulistan
    elif i[1]=='Shahbag':
        i[3]=Shahbag
    elif i[1]=='Newmarket	':
        i[3]=Newmarket	
    ls.append(i)

In [12]:
path = [header]
sdf = pd.DataFrame(ls,columns=['Parent', 'Child', 'g(n)', 'h(n)'])
sdf

         Parent      Child  g(n)  h(n)
0   Narayanganj    Chasara     5     3
1       Chasara  Signboard    10     5
2       Chasara  Ponchobti    15     2
3     Signboard  Jatrabari    15     3
4     Ponchobti   Gandaria    20     5
5     Jatrabari   Gulistan    15     4
6      Gandaria   Gulistan    20     4
7      Gulistan    Shahbag     5     6
8      Gulistan  Newmarket    10     3
9       Shahbag        UAP     5     0
10    Newmarket        UAP    10     0

In [13]:
path_cost = 0
while True:
    if header==goal:
      break
    sd = sdf[sdf.Parent==header]
    sd['cost']=sd[['g(n)','h(n)']].sum(axis=1)
    
    sd=sd.sort_values(by='cost',ascending=True).reset_index(drop=True)
    print(sd)
    header = sd.loc[0].Child
    path_cost+=sd.loc[0]['g(n)']
    path.append(header)

Empty DataFrame
Columns: [Parent, Child, g(n), h(n), cost]
Index: []

KeyError: ignored